@font-face {
    font-family: "MBArial";
    src: url("~@/assets/fonts/Arial.ttf") format('truetype');
  }
  @font-face {
    font-family: "ArialItalic";
    src: url("~@/assets/fonts/ArialItalic.ttf") format('truetype');
  }

  @font-face {
    font-family: "Calibri";
    src: url("~@/assets/fonts/Calibri.ttf") format('truetype');
  }

  @font-face {
    font-family: "MercedesCorpPro-Reg";
    src: url("~@/assets/fonts/CorporateACondPro-Regular.otf") format('opentype');
  }

  @font-face {
    font-family: "CorpoSDem";
    src: url("~@/assets/fonts/CorpoSDem.ttf") format('truetype');

  }

  @font-face {
    font-family: "CorpoSReg";
    src: url("~@/assets/fonts/CorpoSReg.ttf") format('truetype');
  }
