<template>
  <transition name="modal">
    <div class="turner-modal">
      <div class="turner-modal__wrapper">
        <div class="turner-modal__container">

          <div class="turner-modal__header">
            <slot name="header">
              default header
            </slot>
          </div>

          <div class="turner-modal__body">
            <h4 class="turner-modal__desc">Description</h4>
            <p class="turner-modal__desc-paragraph">{{storyDesc}}</p>
            <h4 class="turner-modal__desc">Release Year</h4>
            <p class="turner-modal__desc-paragraph">{{releaseYear}}</p>
            <h4 class="turner-modal__desc">Genres</h4>
            <p class="turner-modal__desc-paragraph">{{genres}}</p>
          </div>

          <div class="modal-footer">
            <button class="turner-modal__default-button" @click="$emit('close')">
              OK
            </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  created() {
    // eslint-disable-next-line max-len
    this.storyDesc = this.title.Storylines[Math.floor(Math.random() * this.title.Storylines.length)].Description;
    this.releaseYear = this.title.ReleaseYear;
    this.genres = this.title.Genres.join(', ');
  },
  data() {
    return {
      storyDesc: '',
      releaseYear: '',
      genres: '',
    };
  },
  name: 'InfoModal',
  props: {
    title: Object,
  },
};
</script>

<style lang="scss" scoped>
.turner-modal {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-main;
  overflow-y: scroll;
  transition: opacity .3s ease;

  &__wrapper {
    vertical-align: middle;
  }

  &__container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 30px 50px;
    background-color: $color-white;
    border-radius: 2px;
    box-shadow: 0 2px 8px $overlay;
    transition: all .3s ease;
    font-family: "CorpoSReg";
  }

  &__header {
    margin-top: 0;
    color: $primary-blue;
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__body {
    margin: 20px 0;
  }

  &__desc {
    font-size: 1.5rem;
    margin: 20px 0;
  }

  &__default-button {
    background-color: $primary-blue;
    color: $color-white;
    float: right;
    font-size: 2rem;
    width: 7vw;
  }
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
