<template>
  <form
    class="turner-form"
    id="title-form"
    @submit.prevent="lookupItem">
    <label
      class="turner-form__label"
      for="title">Title</label>
    <input
      class="turner-form__input"
      type="text"
      id="title"
      ref="formInput"
      placeholder="Enter Title Please..."
      v-model="titleInput">
    <button
      class="turner-form__button"
      type="submit">Search</button>
  </form>
</template>

<script>
// eslint-disable-next-line import/no-extraneous-dependencies
const { ipcRenderer } = require('electron');

export default {
  data() {
    return {
      titleInput: '',
    };
  },
  methods: {
    lookupItem() {
      this.isLoading = true;
      this.titles = [];
      if (this.titleInput.length < 1) {
        this.$swal({
          type: 'error',
          title: 'Form Error',
          text: 'Please enter 1 or more characters to search by.',
        });
        return;
      }
      ipcRenderer.send('get-titles', this.titleInput);
    },
  },
  name: 'SearchForm',
};
</script>

<style lang="scss" scoped>
  .turner-form {
    border-radius: 5px;
    background-color: $lighter-grey;
    padding: 20px;
    margin-left: 9%;
    width: 80%;
    font-family: "CorpoSReg";
    font-size: 1.5rem;

    &__input{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid $grey-red;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: 1rem;
    }

    &__label {
      font-weight: bold;
    }

    &__button {
      width: 100%;
      background-color: $primary-blue;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1.2rem;
    }
  }
</style>
