<template>
  <ul class="turner-title-list">
    <li
      class="turner-title-list__item"
      v-for="(title, index) in titles"
      :key="index"><a @click="seeDetails(title)">{{title.TitleName}}</a></li>
  </ul>
</template>

<script>
export default {
  methods: {
    seeDetails(title) {
      this.$emit('clicked', title);
    },
  },
  name: 'TitleList',
  props: {
    titles: Array,
  },
};
</script>

<style lang="scss" scoped>
.turner-title-list {
    list-style: none;
    width: 80%;
    margin: 2vh 10%;

    &__item {
      font-family: "MercedesCorpPro-Reg";
      font-size: 1rem;
      border: 1px solid $primary-blue;

      a {
        display:block;
        height: 4vh;
        background-color:#333;
        padding-top:2vh;
        text-decoration:none;
        color:#bfe1f1;
        transition: all .5s;
        font-size: 1.2rem;
        cursor: pointer;

        &:hover {
          transform:rotate(-1deg);
          box-shadow:10px 10px 20px #000000;
        }
      }
    }
  }
</style>
