<template>
  <div id="app">
    <loading
      :active.sync="isLoading"
      :is-full-page="fullPage"
      color="#176DB7"
      background-color="#979797"
      :opacity=opacity
      :height=size
      :width=size
      loader="bars"></loading>
    <h1 class="turner-header">Turner Title Searcher</h1>
    <search-form />
    <div v-if="showNoItems">
      <p class="turner-no-item">{{noItems}}</p>
    </div>
    <title-list :titles="titles" @clicked="showInfo"></title-list>
    <info-modal
      v-if="showModal"
      :title="title"
      @close="showModal = false">
      <h3 slot="header">{{title.TitleName}}</h3>
    </info-modal>
  </div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import TitleList from './components/TitleList.vue';
import InfoModal from './components/InfoModal.vue';
import SearchForm from './components/SearchForm.vue';
import 'vue-loading-overlay/dist/vue-loading.css';

// eslint-disable-next-line import/no-extraneous-dependencies
const { ipcRenderer } = require('electron');

export default {
  created() {
    ipcRenderer.on('send-titles', (event, store) => {
      this.titles = store.sort((a, b) => ((a.TitleNameSortable > b.TitleNameSortable) ? 1 : -1));
      this.showNoItems = this.titles.length <= 0;
      this.isLoading = false;
    });
  },
  components: {
    InfoModal,
    Loading,
    SearchForm,
    TitleList,
  },
  data() {
    return {
      isLoading: false,
      fullPage: true,
      title: {},
      titleInput: '',
      size: 150,
      opacity: 0.9,
      titles: [],
      showModal: false,
      noItems: 'No items detected, please refine your search!',
      showNoItems: false,
    };
  },
  methods: {
    showInfo(value) {
      console.log(value);
      this.title = value;
      this.showModal = true;
    },
  },
  name: 'app',
};
</script>

<style lang="scss">
  * {
    padding: 0;
    margin: 0;
  }

  html {
    background: url(assets/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  .turner-header {
    font-family: "MercedesCorpPro-Reg";
    font-size: 3rem;
    color: $color-white;
    margin: 3vh;
  }

  .turner-no-item {
    margin: 2vh;
    color: $error-red;
    font-size: 3rem;
  }
</style>
